@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom CSS styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;

  --day: #013e92;
  --evening: #537189;
  --night: #040e1d;
}
body {
  background: linear-gradient(180deg, #111 0%, #0d223f 87%);
}

/* Styles for loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #09090965;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other elements */
}

.loading-screen .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Hidden class to hide the loading screen */
.hidden {
  display: none;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main {
  background: linear-gradient(180deg, #ecf5ff00 0%, var(--day) 30%);
}

#bgvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.9;
  background: linear-gradient(180deg, #11111100 0%, #0d223f 78.5%);
  /* mix-blend-mode: screen; */
  transform: translate(-50%, -50%);
  /* background: url("/src/img/video.mp4") no-repeat; */
  background-size: cover;
  object-fit: cover;
}

input,
select {
  appearance: none;
  background-color: transparent !important;
  color: white;
  outline: none;
  border: none;
}

header input#search::placeholder {
  flex: 1 0 0;
  color: #ffffff50;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}

input:focus-within {
  border: 1px solid #ffffff50;
}

select {
  appearance: none;
  background-color: #0000001a !important;
  border: 1px solid #ffffff50;
  border-radius: 8px;
}

#current {
  #maincondition {
    .country {
      font-size: clamp(0.75rem, 3vh, 1.875rem);
    }
    .city {
      font-size: clamp(1.25rem, 5vh, 3rem);
    }
    .date,
    .time {
      font-size: clamp(0.875rem, 1vh, 1.875rem);
      font-weight: 400;
    }
    .time {
      font-weight: 600;
    }

    .temp {
      font-size: clamp(1.2rem, 5vh, 3rem);
    }
    .weathercondition {
      font-size: clamp(1rem, 3vh, 1.875rem);
      line-height: 1.2%;
      font-weight: 400;
    }
  }
  #currentDetail {
    .tile .icon {
      padding: 0.5em 0.75em;

      i {
        font-size: clamp(0.75rem, 3vh, 1rem);
      }
    }

    .tile .content {
      line-height: 1.2;
      .title {
        font-size: clamp(0.55rem, 4vh, 0.875rem);
        font-weight: 300;
        opacity: 0.8;
      }
      .text {
        font-size: clamp(1rem, 4vh, 1.25rem);
      }
      .unit {
        font-size: clamp(0.5rem, 4vh, 0.875rem);
        font-weight: 300;
      }
    }
  }
}

#forecast {
  .moon {
    .content {
      font-size: 1rem;
    }
    .value {
      font-size: clamp(0.5rem, 4vh, 0.75rem);
    }

    img {
      /* background: lightgray 50% / cover no-repeat; */
    }
  }
}

.dayGradient {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  margin-bottom: 4px;
}
